<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name, disabled: @editable_params.exclude?(:name)%>
  </div>

  <div class="field">
  <% Project::PROJECT_TYPES.values.each do |project_type| %>
    <%= form.radio_button :project_type, project_type, disabled: @editable_params.exclude?(:project_type)%>
    <%= form.label project_type.to_sym %>
  <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description, disabled: @editable_params.exclude?(:description) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
